.container{
    margin: 20px auto;
    width: 100%;
    padding: 0;
}

#rights{
    padding-top: 10px;
    color: grey;
    float: right;
}

#rights>a {
    color: grey;
    text-decoration: none;
}

.navbar-brand{
    font-family:'Kanit', sans-serif ;
    font-size: x-large;
    color: white;
}

footer{
    margin-top: 20px;
}
