<div class="container"> 
    <h1 class="text-left">Bid History <span> Total bids so far: {{ bidsNumber }}</span> </h1>

    <div class="container-fluid scrollbar">
        <div class="">
            <div class="alert alert-danger ">
                <p class="text-center">Some text</p>
            </div>
            <div class="alert alert-success ">
                <p class="text-center">Some text</p>
            </div>
            <div class="alert alert-danger ">
                <p class="text-center">Some text</p>
            </div>
            <div class="alert alert-danger ">
                <p class="text-center">Some text</p>
            </div>     
        </div>
    </div>
</div>