<div class="container">
    <h2>A few words about us ...</h2>

    <p class="border-top rounded-top align-middle">
        <img src="http://blog.winspireme.com/hs-fs/hub/297253/file-2387393407-png/Confused-Auctioneer1.png" 
        class="rounded float-right">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
        Incidunt officia totam vel deserunt quasi dolor qui in 
        voluptatum distinctio veritatis architecto eius sapiente quam, 
        nemo dolores eos omnis quaerat maxime?
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
        Incidunt officia totam vel deserunt quasi dolor qui in 
        voluptatum distinctio veritatis architecto eius sapiente quam, 
        nemo dolores eos omnis quaerat maxime?
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
        Incidunt officia totam vel deserunt quasi dolor qui in 
        voluptatum distinctio veritatis architecto eius sapiente quam, 
        nemo dolores eos omnis quaerat maxime?
    </p>
</div>