.navbar-brand{
    font-family:'Kanit', sans-serif ;
    font-size: x-large;
    padding-left: 30px;
}

ul>li{
    font-weight: 400;
    font-size: large;
}

.active>.nav-link{
    font-weight: bold;
}